.header {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: orange;
    
}

.tab-list {
    display: flex;
    justify-content: space-evenly;
}

.tab-item {
    margin: 0 20px;
    padding-right: 20px;
    cursor: pointer;
    font-size: 20px;
}

.leftbar {

}

.rightbar {

}
